<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_mowielogo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mowielogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mowie.NoActionBar"
        tools:targetApi="35" >

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Mowie.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- User Home Activity -->
        <activity
            android:name=".UserHomeActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Create Job Activity -->
        <activity
            android:name=".CreateJobActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- About Us Activity -->
        <activity
            android:name=".AboutUsActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Help Activity -->
        <activity
            android:name=".HelpActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Profile Page Activity -->
        <activity
            android:name=".ProfilePageActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Payment Page Activity -->
        <activity
            android:name=".PaymentActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Job Detail Page Activity -->
        <activity
            android:name=".JobDetailsActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Forgot Password Page Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Pro Home Page Activity -->
        <activity
            android:name=".ProHomeActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Pro Sign Up Page Activity -->
        <activity
            android:name=".ProSignUpActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Background Check Page Activity -->
        <activity
            android:name=".BackgroundCheckActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Onboard Page Activity -->
        <activity
            android:name=".OnboardActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Earnings Page Activity -->
        <activity
            android:name=".EarningsActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

        <!-- Pro Account Page Activity -->
        <activity
            android:name=".ProAccountActivity"
            android:theme="@style/Theme.Mowie.NoActionBar" />

    <!-- Add more activities as needed -->
    </application>

</manifest>